<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet">
</head>
<body id="aboutme">
    <div class="nav">
        <ul >
            <li><a href="index.html">home</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="mk.html">skills</a></li>
        </ul>
   </div>
    <div class="about">
        <div class="edu">
            <h3 class="certfy_head">Education Background</h3>
            <ul class="Education">
                <li>
                    <b>Ideal Institute of Technology</b><br><br>
                    Bachelor of Engineering in Computer Science<br>
                    Excepted Graduation : june 2026<br><br>
                </li>
                <li>
                    <b>Mohan junior College</b><br><br>
                    Intermediate Education(MPC Stream)<br>
                    Completed in 2022<br><br>
                </li>
                <li>
                   <b> Chaitanya School</b><br><br>
                    High School<br>
                    Completed in 2020<br>
                </li>
            </ul>
        </div>
        <div class="certification">
            <h3 class="certfy_head">Certifications</h3>
            <ul class="certify">
                <li><h4>Front-end for Beginners</h4>
                    
                    Issuing Organization: Sololearn<br>
                    Date of certification : 27 May 2024
                </li>
                <li><h4>Data Engineering Virtual Internship</h4>
                    Issuing Organization: EduSkills<br>
                    Duration: April-june 2024
                </li>
                <li><h4>Python Basics for Data Science</h4>
                    Issuing Organization: IBM<br>
                    Date of certification : 8 April 2024<br>
                </li>
                

            </ul>

        </div>

    </div>
        
</body>
</html>