<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills Section</title>
    <link rel="stylesheet" href="mk.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
   <div class="nav">
        <ul >
            <li><a href="index.html">home</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="mk.html">skills</a></li>
        </ul>
   </div>
    <section class="skills-section">
        <h1>My <span class="highlight">Skills</span></h1>
        <div class="skills-container">
            <div class="technical-skills">
                <h2>Technical Skills</h2>
                <div class="skill" >
                    <p> <i  style="color:brown" class='bx bxl-html5'></i>HTML</p>
                    <div class="progress-bar" data-percent="90%"></div>
                </div>
                <div class="skill">
                    <p><i  style="color:rgb(14, 83, 186)" class='bx bxl-css3'></i>CSS</p>
                    <div class="progress-bar" data-percent="75%"></div>
                </div>
                <div class="skill">
                    <p> <i style="color:rgb(217, 192, 7)" class='bx bxl-javascript'></i>JavaScript</p>
                    <div class="progress-bar" data-percent="80%"></div>
                </div>
                <div class="skill">
                    <p> <i  style="color:rgb(42, 147, 165)" class='bx bxl-python'></i>Python</p>
                    <div class="progress-bar" data-percent="83%"></div>
                </div>
                <div class="skill">
                    <p> <i  style="color:rgb(241, 8, 28)" class='bx bxl-java'></i>React</p>
                    <div class="progress-bar" data-percent="60%"></div>
                </div>
            </div>

            <div class="professional-skills">
                <h2>Professional Skills</h2>
                <div class="circle-skill">
                    <p>Creativity</p>
                    <div class="circle" data-percent="90%"></div>
                </div>
                <div class="circle-skill">
                    <p>Communication</p>
                    <div class="circle" data-percent="65%"></div>
                </div>
                <div class="circle-skill">
                    <p>Problem Solving</p>
                    <div class="circle" data-percent="75%"></div>
                </div>
                <div class="circle-skill">
                    <p>Teamwork</p>
                    <div class="circle" data-percent="85%"></div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>